html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
div {
     box-sizing: border-box;   
}
header, section {
    display: block;
}
section {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.header {
    font-size: 0.8rem;
    line-height: 2rem;
    
}
.nav { 
    background-color: #373c3f;
    width:  100%;
    float: left;  
    padding-left: 1.5rem;
}
.small-visible .nav {
    width: 90%;
}
.menu {
    list-style: none;

}
.menu li {
    display: inline;  
    padding-left: 1rem;
}
.menu a {
    color: #fff;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
}
.menu:first-child {  
    padding-left: 0;
}
.gamburger {
    width: 10%;
    float: right;
    background-color: #202529;
    text-align: center;
    float: right;
}
.gamburger img {
     height: 0.5rem;   
    
}

.title h1 {
    font-size: 1.2rem;  
    padding-left: 2rem;
    padding-right: 2rem;
}
.title a {
    font-size: 0.8rem;
    color: #5cc3d1;
    padding-left: 2rem;
}
.title .arrow {
    color: #fff;
    float: right;
    padding-right: 2rem;
       
}
.title .arrow img {
     height: 0.8rem;   
}
.title {
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
.text-box {
     line-height: 5rem;   
}

.text-box .text{
    background-color: #27212c;
    color: #7e708a;
    font-size: 0.8rem;
    padding-left: 2rem;
    width: 75%;
    float: left;    
}
.text-box .arrow {
    width: 25%;
    float: right;
    background-color: #bc3183;
    color: #fff;
    text-align: center;
}

.text-box .arrow img {
    height: 0.8rem;   
}

.banners div img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.title {
    background-color: #0a9bb2;  
}

.text-area{
    background-color: #ebebeb;  
    padding: 0 2rem;
    width: 100%;
    float: left;
    color: #515151;
    font-size: 0.8rem;
}

h2 {
    color: #45a5b8;   
    padding-top: 1.3rem;
}
.column-1 {
     width: 100%;   
}
.column-2 {
     display: none;
}
.hidden-small {
     display: none;   
}
.middle-visible {
     display: none;
}

@media screen and (min-width: 640px)  {
    html {
        font-size: 16px;
    }
     .text-box {
        line-height: 7rem;   
    }
    .text-box .text {
        width: 85%;   
    }
    .text-box .arrow {
        width: 15%;   
    }
    .small-visible .nav {
        width: 95%;
    }
    .gamburger {
        width: 5%;
    }
}

@media screen and (min-width: 980px)  {
    html {
        font-size: 22px;
    }
    .title h1 {
        font-size: 2.5rem; 
        padding-right: 6rem;
    }
    .title .arrow {
        padding-right: 6rem;        
    }
   
    .banners {
        display: inline-table; 
        vertical-align: middle;
    }
    .banners div{
       display: table-cell;
        vertical-align: middle;
    }
    .banners div img{
       height: auto;
    }
    .hidden-small {
        display: inherit;
    }
    .text-area {
         display: table;
        font-size: 0.7rem;
        vertical-align: top;
    }
    
    .column-1 {
        display: inline-block;
        width: 50%; 
        vertical-align: text-top;
    }
    .column-2 {
        vertical-align: text-top;
        display: inline-block;
        width: 50%;
        padding-left: 1rem;
    }
    .small-visible {
        display: none;   
    }
    .middle-visible {
        display: block;
    }

}
@media screen and (min-width: 1024px)  {

    .title {
        padding-top: 5.5rem;
    }
    .text-box {
        line-height: 7.2rem;
    }

}